@model Developer

<h1>Developer Details</h1>
<p><strong>@Model.Name</strong></p>
<p><strong>Role: @Model.Role</strong></p>
<p><strong>Experience: @Model.Experience years</strong></p>

<a asp-action="Index">Back to List</a>