@model List<Developer>

<h1>Developers thst</h1>

<table style="width:100%">
    <thead>
        <tr>
            <th>Name</th>
            <th>Role</th>
            <th>Experience</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var developer in Model)
        {
            <tr>
                <th>@developer.Name</th>
                <th>@developer.Role</th>
                <th>@developer.Experience</th>
            </tr>
        }
    </tbody>
</table>