@model List<Developer>

<h1>Developers List</h1>

<ul>
    @foreach (var developer in Model)
    {
        <li>@developer.Name</li>
        <li>@developer.Role</li>
        <li>@developer.Experience</li>
    }
</ul>